nav
  .container-fluid
    .row#nav
      a(href="https://www.angwin.com.tw").logo.col-4.offset-1
         img(src="https://i.imgur.com/Hh2YwIz.png", alt="")
      ul.navItems.col-6.offset-1
        li 
          a(href='#sectionAbout') About
        li 
          a(href='#sectionService') Service
        li 
          a(href='#sectionContact') Contact
          
header#header
  .container-fluid
    .row
      .headerBg
        img(src="https://i.imgur.com/ESboyke.png", alt="",oncontextmenu="return false")
      .AngwinCloud
        img(src="https://i.imgur.com/jFuvgjs.png", alt="").col-5
      
section#sectionAbout
  .container
    .row
      .titleAbout.col-6
        img(src="https://i.imgur.com/KAjB66L.png", alt="",oncontextmenu="return false")
    .row.ContentAbout
      .logoAbout.col-lg-3.offset-lg-1.offset-4.col-4
        img(src="https://i.imgur.com/nHW1xJ5.png", alt="")
      .textAbout.col-lg-6.col-10.offset-1
        h3
          span.aw AW 
          | (Ang.Win Co., Ltd.) is a company in stationery industry with innovation and passion to develop customers’ business needs with satisfaction.
        .br
        h3 As a professional solution provider of stationery products, we work closely with customers as partners, strive to innovate and deliver the high-quality finished products beyond customers’ expectations.
  .container-fluid.colorPencil
    .row
      img(src="https://i.imgur.com/MiiV3EC.png", alt="")
    
section#sectionService
  .container
    .row
      .titleService
        img(src="https://i.imgur.com/yMHiUiN.png", alt="")
    .row.contentService
      .notebook.col-lg-4.col-6
        img(src="https://i.imgur.com/DVtBJLz.png", alt="")
      .textService.col-lg-6.col-10.offset-1
        h3 We have the best design and product development team to evolve your business ideas into good quality products with great presentation in marketplace.
        .br
        h3 We are expertized in OEM/ODM stationery products such as pencils / erasers / pens / markers / notebooks / sketchbooks etc.
        .br
        h3 Of course, to comply with safety and environmental-friendly standards are also our aim for all products.  These are our core values of business.
    .row.billboardArea.offset-1.col-10
      .billboard
        img(src="https://i.imgur.com/AGHE4Sr.png", alt="")

      

section#sectionContact
  .container
    .row
      .titleContact
        img(src="https://i.imgur.com/KVMc1iq.png", alt="")
    .row.contentContact
      .row.message
        img(src="https://i.imgur.com/q9C2Qdm.png", alt="")
      .row
        .information
          .address
            span.fas.fa-map-marker-alt.icon
            span 5F-1, No.191, Fusing N. Rd., Taipei 105, Taiwan
          .tel
            span.fas.fa-phone-alt.icon
            span Tel: +886-2-2713-9489
          .email
            span.fas.fa-envelope.icon
            span service@angwin.com.tw
          .website
            span.fas.fa-globe.icon
            span https://www.angwin.com.tw
      .row
        a(href="mailto:service@angwin.com.tw")
          button.emailBtn Send Email to Ang.win !   
      
      
footer#footer
  img(src="https://i.imgur.com/mI6V3VN.png", alt="")
  p © Copyright 2020 Angwin. All rights reserved.